body {
    background: url('/wallhaven-18586.jpg') no-repeat center center fixed;
    background-size: cover;
}

.select{
    background-color: #ddd;
    /*background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;*/
    height: 34px;
    width: 240px;
}